
.img-head {
    width: 100%;
    object-fit: cover;
    height: 360px;
}
.cont-head-left {
    background: #F6F6F6;
}
.btn-tic {
    margin-top: 75px;
    color: #FFFFFF;
    background-color: #FF843E;
    border-color: #FF843E;
    border-radius: 20px;
    font-weight: 700;
    font-size: 16px;
    padding-left: 86px;
    padding-right: 86px;
}
