*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); 

.bg-header {
  background-image: url(./Image/header.png);
}
.bg-blur{
  /* background-image: url(./Image/bg-event.png); */
  /* height: 640px; */
}
.wrap-ev {
  background: #FFFFFF;
border: 1px solid #E6E6E6;
border-radius: 0px 0px 4px 4px;
}
.blue {
  color: #518FEC;
}
/* .purple {
  color: #AC58D4;
} */

.orange {
  color: #FF843E;
}
.more {
  color: #518FEC;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
.judul {
  color: #334553;
  font-size: 24px;
  font-weight: 700;
}
.h1 {
  color: #334553;
  font-size: 16px;
  font-weight: 700;
}
.h2 {
  color: #334553;
  font-size: 16px;
  font-weight: 400;
}
.h3 {
  color: #93999D;
  font-size: 16px;
  font-weight: 400;
}
.p {
  color: rgba(51, 51, 51, 0.75);
  font-size: 13px;
  font-weight: 700;
}
.footz {
  color: #93999D;
  font-size: 13px;
  font-weight: 400;
}
.px-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.container-cust {
  padding-left: 50px;
  padding-right: 50px;
}
.mr-30 {
  margin-right: 30px;
}
.ml-50 {
  margin-left: 50px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-70 {
  margin-top: 70px;
}
.dashed {
  border: 1px dashed #E6E6E6;
}
.dotted {
  border: 1px dashed #E6E6E6;
  height: 129px;
}
.pl-50 {
  padding-left: 50px;
}