.btn-fol {
    color: #FFFFFF;
    background-color: #FF843E;
    border-color: #FF843E;
    border-radius: 20px;
    font-weight: 700;
    font-size: 16px;
    padding-left: 33px;
    padding-right: 33px;
}